<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margnify</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"></link>
    
</head>
<body>
    Hey! I am margnify. I am here to make your trip informative and time saving and yeah less exhaustive. Remember! Location access is mandatory.
    <p id="status">Fetching your location...</p>
    <div id="ldmrkList">
    </div>


</body>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
</html>